div {
	margin: 2em;
}

form {
	width: 50%;
	border: 2px solid black;
}

.invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus.invalid {
  outline: none;
}

.valid{
  border-color: #0FA804;
  background-color: #B7FFB2;
}

.error {
  width  : 100%;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 5px;

}

.error.active {
  padding: 0.3em;
}